POSTGRES_IMAGE=postgres:16
POSTGRES_USER=owa
POSTGRES_PASSWORD=owa-local-only
POSTGRES_DB=owa
POSTGRES_PORT=5432

ADK_PORT=8080
LANGGRAPH_PORT=8081
ADK_IMAGE=owa-adk:local
LANGGRAPH_IMAGE=owa-langgraph:local

OWA_VERSION=0.1.0
VCS_REF=local
MODEL_PROVIDER=fake
MODEL_NAME=fake/default
